#!/usr/bin/env python
# -*- coding:utf-8 -*-

__author__ = 'Andy'

# 基础配置文件
class Config(object):
	debug = False
	pass

# 本地配置文件
class LocalConfig(Config):
	debug = False
	logs_path = "/data/logs/htg_usa_logs/"
	
# 生产配置文件
class Produce(Config):
	debug = False
	logs_path = "/data/logs/htg_usa_logs/"


SETTINGS = {
	'produce': Produce,
    'default': LocalConfig,
}

RUNING_CONFIG = 'default'